@use 'bg';

/* /////////////////////////////////////////////////////////////////  CLASSES */
.on { display: block; }
.off { display: none; }
.autowidth { width: auto !important; }
.autoscroll { overflow: auto; }
.nowrap { white-space: nowrap; }
.box {
	border-radius: bg.v(0.5);
	// box-shadow: 0.0625rem 0.0625rem 1em rgba(0, 0, 0, .1);
}
.box-content {
	border-radius: bg.v(0.5);
	padding: 0;
}
.box-handle {
	&.collapsed {
		cursor: pointer;
		&::before {
			content: "\25B6"; /* ▶ right-pointing triangle */
			font-size: 0.75rem;
			vertical-align: 0.15rem;
			width: bg.h();
		}
	}
	&.expanded {
		cursor: pointer;
		&::before {
			content: "\25BC"; /* ▼ down-pointing triangle */
			font-size: 0.75rem;
			width: bg.h();
		}
	}
}
