@use 'bg';

/* ////////////////////////////////////////////////////////////////  TVlists */
/* JQuery Tree View, @ 2006 Myles Angell <mangell@cronin-co.com> See: <http://be.twixt.us/jquery/treeViewCollapsed.php> */
ul.tv {
	&, ul { padding: 0; margin: 0; list-style: none; }
	li { position: relative; margin: 0; padding: bg.v(0.5) 0 bg.v(0.5) bg.h(); z-index: 10; }
	div.tvca { height: bg.v(); width: bg.h(); position: absolute; top: bg.v(0.5); left: -0.25rem; cursor: pointer; z-index: 50; }
	li, .tvi /* Tree View Item */ { background: url(../images/treeView/tvi.png) bg.v(-1) 0 no-repeat; }
	.tvic /* Tree View Item, Collapsable */ { background-image: url(../images/treeView/tvie.png); }
	.tvie /* Tree View Item, Expandable */ { background-image: url(../images/treeView/tvic.png); }
	.tvil /* Tree View Last Item */ { background-image: url(../images/treeView/tvil.png); }
	.tvilc /* Tree View Last Item, Collapsable */ { background-image: url(../images/treeView/tvile.png); }
	.tvile /* Tree View Last Item, Expandable */ { background-image: url(../images/treeView/tvilc.png); }
	.tvload /* Loading Icon */ { background-image: url(../images/treeView/tviload.gif); }
	.tvclosed ul, .tvclosed li.tvclosed ul { display: none; }
	.tvclosed ul ul { display: block; }
}
